h2 {
	font-size: 48px;
	line-height: 72px;
	font-weight: 700;
}

h3 {
	color: var(--brown);
	font-size: 24px;
	line-height: 36px;
	font-weight: 700;
}

.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 12px;
}