input[type=checkbox] {
  accent-color: $red;
}

.home {
	&-header {
		background-image: url("../images/home-header.png");
		background-size: cover;
		background-position: center center;
		height: 100vh;
		@include mobile {
			height: 50vh;
			background-image: url("../images/home-header-sm.png");
		}
		h2 {
			color: $brown;
			font-size: 64px;
			line-height: 96px;
			font-weight: 700;
			@include mobile {
				font-size: 24px;
				line-height: 36px;
			}
		}
		span {
			display: block;
			color: $brown;
			font-size: 36px;
			line-height: 54px;
			font-weight: 400;
			@include mobile {
				font-size: 16px;
				line-height: 24px;
			}
		}
		button {
			padding: 6px 12px;
			cursor: pointer;
			color: $white;
			background-color: $red;
			box-shadow: none;
			border: none;
		}
		&-container {
			display: flex;
			justify-content: flex-end;
			text-align: right;
			align-items: center;
			height: 100%;
		}
	}
	&-classic {
		text-align: center;
		padding-bottom: 80px;
		&:not(:first-child) {
			color: $red;
		}
	}
	&-advantage {
		background-color: $beige;
		h3 {
			margin-bottom: 8px;
		}
		p {
			font-size: 16px;
			line-height: 24px;
			font-weight: 400;
			text-align: left;
		}
		img {
			width: 84px;
			margin-bottom: 24px;
		}
	}
	&-brand {
		background-image: url("../images/index-bg.png");
		@include tablet {
			background-image: url("../images/index-bg-md.png");
		}
		@include mobile {
			background-image: url("../images/index-bg-sm.png");
		}
		h2 {
			&:first-child {
				margin-bottom: 32px;
				color: $white;
			}
			&:not(:first-child) {
				color: $red;
				background-color: $white;
				padding-top: 8px;
				padding-bottom: 8px;
			}
		}
	}
	&-recommendation {
		padding-bottom: 80px;
		h2 {
			text-align: center;
		}
		li {
			box-shadow: 0px 2px 6px #00000029;
			border: 1px solid #DEE2E6;
			border-radius: 4px;
		}
		img {
			margin-bottom: 16px;
		}
	}
	&-customer {
		margin-right: 16px;
		margin-left: 16px;
		p {
			&:first-child {
				margin-bottom: 8px;
			}
			&:not(:last-child) {
				font-size: 16px;
				line-height: 24px;
				font-weight: 400;
			}
			&:last-child {
				font-size: 14px;
				line-height: 21px;
				color: #707070;
				margin-top: 72px;
				margin-bottom: 16px;
			}
		}
	}
	&-contact {
		background-color: $beige;
		padding-top: 80px;
		padding-bottom: 80px;
		form {
			margin-top: 56px;
		}
		h2 {
			text-align: center;
		}
		label {
			line-height: 24px;
		}
		button {
			background-color: $red;
			border: none;
			color: $white;
			padding-top: 16px;
			padding-bottom: 16px;
			padding-left: 176px;
			padding-right: 176px;
			display: block;
			margin: 0 auto;
			cursor: pointer;
			@include mobile {
				padding-right: 121px;
				padding-left: 121px;
			}
		}
		&-container {
			max-width: 636px;
			margin: 0 auto;
			padding: 0 12px;
			p {
				font-size: 20px;
				line-height: 30px;
			}
		}
		&-input {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin-bottom: 16px;
			text-align: left;
			input, textarea {
				padding-top: 8px;
				padding-bottom: 8px;
				padding-left: 12px;
				outline: none;
				border: 1px solid $black;
			}
		}
		&-checkbox {
			margin-bottom: 48px;
		}
	}
}

.home-brand, .home-advantage {
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom: 80px;
	text-align: center;
	@include mobile {
		padding-top: 40px;
		padding-bottom: 40px;
		margin-bottom: 40px;
	}
}
.home-advantage h2, .home-classic h2:first-child, .home-recommendation h2, .home-contact h2 {
	color: $brown;
	margin-bottom: 32px;
}
.home-advantage ul, .home-classic ul, .home-brand ul, .home-recommendation ul {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	@include tablet {
		row-gap: 24px;
	}
}
.home-advantage li, .home-recommendation li {
	flex: 1;
	@include tablet {
		flex-basis: calc((100% - 24px) / 2);
	}
	@include mobile {
		flex-basis: 100%;
	}
}
.home-classic li, .home-brand li {
	flex: 1;
	@include tablet {
		flex-basis: 100%;
	}
}
.home-advantage h4, .home-recommendation h5, .home-contact-input label, .footer-info-contact {
	margin-bottom: 8px;
}