.store {
	padding-top: 96px;
	padding-bottom: 80px;
	@include mobile {
		padding-top: 40px;
		padding-bottom: 64px;
	}
	h2 {
		margin-bottom: 33px;
		padding-left: 16px;
		border-left: 8px solid #9F1213;
	}
	&-area {
		display: flex;
		align-items: center;
		margin-bottom: 41px;
		label {
			font-size: 24px;
			line-height: 36px;
			margin-right: 16px;
			@include mobile {
				font-size: 16px;
				line-height: 24px;
			}
		}
		select {
			padding-top: 9px;
			padding-bottom: 9px;
			min-width: 315px;
			padding-left: 12px;
			padding-right: 12px; /* not working */
			@include mobile {
				flex: 1;
				min-width: initial;
			}
		}
	}
	&-cards {
		display: flex;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 48px;
	}
	&-card {
		&-item {
			flex-basis: calc((100% - 48px) / 3);
			border: 1px solid $light-gray;
			@include tablet {
				flex-basis: calc((100% - 24px) / 2);
			}
			@include mobile {
				flex-basis: 100%;
			}
			h3 {
				padding-top: 8px;
				padding-bottom: 8px;
				padding-left: 16px;
				border-bottom: 1px solid $light-gray;
			}
			a {
				padding-top: 16px;
				padding-bottom: 16px;
				width: 100%;
				background-color: $black;
				color: $white;
				border: none;
				font-size: 19px;
				line-height: 27px;
				text-align: center;
				display: block;
				cursor: pointer;
			}
		}
		&-info {
			padding: 16px;
			min-height: 170px;
			div {
				display: flex;
				align-items: center;
			}
			p {
				font-size: 20px;
				line-height: 30px;
			}
			img {
				width: 20px;
				margin-right: 10px;
			}
		}
		&-phone, &-hours {
			margin-bottom: 8px;
		}
	}
}