/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 576px) {
    .container {
      max-width: 375px; } }

h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700; }
  @media (max-width: 576px) {
    h2 {
      font-size: 24px;
      line-height: 36px; } }

h3 {
  color: #650300;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700; }
  @media (max-width: 576px) {
    h3 {
      font-size: 24px;
      line-height: 36px; } }

.home-nav {
  background-color: #AA0601;
  padding-top: 15.72px;
  padding-bottom: 15.72px; }
  .home-nav-container {
    display: flex;
    justify-content: space-between;
    align-content: center; }
    @media (max-width: 576px) {
      .home-nav-container {
        flex-direction: column;
        position: relative; } }
  .home-nav-hamburger {
    display: none; }
    @media (max-width: 576px) {
      .home-nav-hamburger {
        display: block;
        position: absolute;
        font-size: 35px;
        right: 10px;
        cursor: pointer; } }
  .home-nav ul {
    display: flex;
    align-items: center;
    -moz-column-gap: 64px;
         column-gap: 64px; }
    @media (max-width: 576px) {
      .home-nav ul {
        margin-top: 8px;
        margin-right: 0;
        flex-direction: column;
        align-items: flex-start;
        display: none; } }
    .home-nav ul a {
      display: block;
      padding: 8px;
      cursor: pointer; }
  .home-nav li {
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400; }
  .home-nav h1 a {
    display: block;
    background-image: url("../images/logo-white.png");
    width: 80px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    height: 49px;
    background-size: cover; }

.footer {
  background-color: #AA0601;
  padding-top: 60px;
  padding-bottom: 32px;
  color: white; }
  @media (max-width: 576px) {
    .footer {
      padding-top: 24px;
      padding-bottom: 24px; } }
  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #ffffff; }
    .footer-info-nav {
      display: flex;
      margin-bottom: 35px;
      -moz-column-gap: 48px;
           column-gap: 48px; }
      @media (max-width: 768px) {
        .footer-info-nav {
          -moz-column-gap: 40px;
               column-gap: 40px; } }
      @media (max-width: 576px) {
        .footer-info-nav {
          display: none; } }
      .footer-info-nav li {
        cursor: pointer;
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400; }
      .footer-info-nav a {
        display: block;
        padding: 8px; }
    .footer-info-media {
      display: flex;
      -moz-column-gap: 32px;
           column-gap: 32px; }
      @media (max-width: 768px) {
        .footer-info-media {
          -moz-column-gap: 16px;
               column-gap: 16px; } }
    .footer-info-contact {
      margin-bottom: 24px; }
      .footer-info-contact a {
        font-size: 36px;
        line-height: 54px;
        font-weight: 400; }
        @media (max-width: 576px) {
          .footer-info-contact a {
            font-size: 16px;
            line-height: 24px; } }
      .footer-info-contact img {
        margin-right: 16px; }
  .footer img {
    width: 48px; }
    @media (max-width: 768px) {
      .footer img {
        width: 40px; } }
    @media (max-width: 576px) {
      .footer img {
        width: 24px; } }
  .footer-copyright {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: white; }
    @media (max-width: 576px) {
      .footer-copyright {
        flex-direction: column;
        padding-top: 16px;
        row-gap: 8px; } }
    .footer-copyright-more ul {
      display: flex;
      -moz-column-gap: 48px;
           column-gap: 48px; }
      @media (max-width: 576px) {
        .footer-copyright-more ul {
          display: block; } }
    @media (max-width: 576px) {
      .footer-copyright-more li:first-child {
        margin-bottom: 8px; } }

.home-advantage, .home-brand {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 80px;
  text-align: center; }
  @media (max-width: 576px) {
    .home-advantage, .home-brand {
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 40px; } }

.home-classic h2:first-child, .home-advantage h2, .home-recommendation h2, .home-contact h2 {
  color: #650300;
  margin-bottom: 32px; }

.home-classic ul, .home-advantage ul, .home-brand ul, .home-recommendation ul {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px; }
  @media (max-width: 768px) {
    .home-classic ul, .home-advantage ul, .home-brand ul, .home-recommendation ul {
      row-gap: 24px; } }

.home-classic li, .home-brand li {
  flex: 1; }
  @media (max-width: 768px) {
    .home-classic li, .home-brand li {
      flex-basis: 100%; } }

.home-advantage li, .home-recommendation li {
  flex: 1; }
  @media (max-width: 768px) {
    .home-advantage li, .home-recommendation li {
      flex-basis: calc((100% - 24px) / 2); } }
  @media (max-width: 576px) {
    .home-advantage li, .home-recommendation li {
      flex-basis: 100%; } }

.home-header {
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-position: center center;
  height: 100vh; }
  @media (max-width: 576px) {
    .home-header {
      height: 50vh;
      background-image: url("../images/home-header-sm.png"); } }
  .home-header h2 {
    color: #650300;
    font-size: 64px;
    line-height: 96px;
    font-weight: 700; }
    @media (max-width: 576px) {
      .home-header h2 {
        font-size: 24px;
        line-height: 36px; } }
  .home-header span {
    display: block;
    color: #650300;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400; }
    @media (max-width: 576px) {
      .home-header span {
        font-size: 16px;
        line-height: 24px; } }
  .home-header button {
    padding: 6px 12px;
    cursor: pointer;
    color: #ffffff;
    background-color: #AA0601;
    box-shadow: none;
    border: none; }
  .home-header-container {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    height: 100%; }

.home-classic {
  text-align: center;
  padding-bottom: 80px; }
  .home-classic:not(:first-child) {
    color: #AA0601; }

.home-advantage {
  background-color: #FBF2F2; }
  .home-advantage h3, .home-advantage h4 {
    margin-bottom: 8px; }
  .home-advantage p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left; }
  .home-advantage img {
    width: 84px;
    margin-bottom: 24px; }

.home-brand {
  background-image: url("../images/index-bg.png"); }
  @media (max-width: 768px) {
    .home-brand {
      background-image: url("../images/index-bg-md.png"); } }
  @media (max-width: 576px) {
    .home-brand {
      background-image: url("../images/index-bg-sm.png"); } }
  .home-brand h2:first-child {
    margin-bottom: 32px;
    color: #ffffff; }
  .home-brand h2:not(:first-child) {
    color: #AA0601;
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px; }

.home-recommendation {
  padding-bottom: 80px; }
  .home-recommendation h2 {
    text-align: center; }
  .home-recommendation h5 {
    margin-bottom: 8px; }
  .home-recommendation li {
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px; }
  .home-recommendation img {
    margin-bottom: 16px; }

.home-customer {
  margin-right: 16px;
  margin-left: 16px; }
  .home-customer p:first-child {
    margin-bottom: 8px; }
  .home-customer p:not(:last-child) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
  .home-customer p:last-child {
    font-size: 14px;
    line-height: 21px;
    color: #707070;
    margin-top: 72px;
    margin-bottom: 16px; }

.home-contact {
  background-color: #FBF2F2;
  padding-top: 80px;
  padding-bottom: 80px; }
  .home-contact form {
    margin-top: 56px; }
  .home-contact h2 {
    text-align: center; }
  .home-contact label {
    line-height: 24px;
    margin-bottom: 8px; }
  .home-contact button {
    background-color: #AA0601;
    border: none;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 176px;
    padding-right: 176px;
    display: block;
    margin: 0 auto;
    cursor: pointer; }
    @media (max-width: 576px) {
      .home-contact button {
        padding-right: 121px;
        padding-left: 121px; } }
  .home-contact-container {
    max-width: 636px;
    margin: 0 auto;
    padding: 0 12px; }
    .home-contact-container p {
      font-size: 20px;
      line-height: 30px; }
  .home-contact-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 16px;
    text-align: left; }
    .home-contact-input input, .home-contact-input textarea {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 12px;
      outline: none;
      border: 1px solid #000000; }
  .home-contact-checkbox {
    margin-bottom: 48px; }
    .home-contact-checkbox input {
      accent-color: #AA0601; }

.classic-nav {
  display: flex;
  text-align: center; }
  .classic-nav li {
    flex: 1;
    padding-top: 24px;
    padding-bottom: 24px;
    border-right: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    font-size: 32px;
    line-height: 48px;
    font-weight: 500; }
    @media (max-width: 576px) {
      .classic-nav li {
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 16px;
        line-height: 24px; } }
  .classic-nav-active {
    border-bottom: 8px solid #AA0601; }

.classic-banner {
  margin-bottom: 80px; }
  @media (max-width: 576px) {
    .classic-banner {
      margin-bottom: 40px; } }
  .classic-banner ul {
    display: flex; }

.classic-combi {
  margin-bottom: 80px;
  text-align: center; }

.classic-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 80px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 80px; }
  @media (max-width: 576px) {
    .classic-cards {
      row-gap: 40px; } }

.classic-card-item {
  flex-basis: calc((100% - 72px) / 4); }
  @media (max-width: 768px) {
    .classic-card-item {
      flex-basis: calc((100% - 24px) / 2); } }
  @media (max-width: 576px) {
    .classic-card-item {
      flex-basis: 100%; } }

.classic-card-info {
  font-size: 24px;
  line-height: 36px;
  display: flex;
  justify-content: space-between; }
  .classic-card-info p {
    color: #AA0601;
    font-weight: 500; }

.classic-colors {
  display: flex; }
  .classic-colors a {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 4px; }
  .classic-colors li:first-child a {
    background-color: #5F3E2D;
    margin-right: 8px; }
  .classic-colors li:last-child a {
    background-color: #B75929; }

.classic-pagination {
  display: flex;
  justify-content: center;
  align-content: center; }
  .classic-pagination li {
    border: 1px solid #555555; }

.classic-page-item {
  padding: 12px 16px;
  color: #555555;
  cursor: pointer; }
  .classic-page-item:last-child {
    background-color: #F2F2F2; }

.classic-page-active {
  background: #000000;
  color: #ffffff; }

.store {
  padding-top: 96px;
  padding-bottom: 80px; }
  @media (max-width: 576px) {
    .store {
      padding-top: 40px;
      padding-bottom: 64px; } }
  .store h2 {
    margin-bottom: 33px;
    padding-left: 16px;
    border-left: 8px solid #9F1213; }
  .store-area {
    display: flex;
    align-items: center;
    margin-bottom: 41px; }
    .store-area label {
      font-size: 24px;
      line-height: 36px;
      margin-right: 16px; }
      @media (max-width: 576px) {
        .store-area label {
          font-size: 16px;
          line-height: 24px; } }
    .store-area select {
      padding-top: 9px;
      padding-bottom: 9px;
      min-width: 315px;
      padding-left: 12px;
      padding-right: 12px;
      /* not working */ }
      @media (max-width: 576px) {
        .store-area select {
          flex: 1;
          min-width: initial; } }
  .store-cards {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 48px; }
  .store-card-item {
    flex-basis: calc((100% - 48px) / 3);
    border: 1px solid #DCDCDC; }
    @media (max-width: 768px) {
      .store-card-item {
        flex-basis: calc((100% - 24px) / 2); } }
    @media (max-width: 576px) {
      .store-card-item {
        flex-basis: 100%; } }
    .store-card-item h3 {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 16px;
      border-bottom: 1px solid #DCDCDC; }
    .store-card-item a {
      padding-top: 16px;
      padding-bottom: 16px;
      width: 100%;
      background-color: #000000;
      color: #ffffff;
      border: none;
      font-size: 19px;
      line-height: 27px;
      text-align: center;
      display: block;
      cursor: pointer; }
  .store-card-info {
    padding: 16px;
    min-height: 170px; }
    .store-card-info div {
      display: flex;
      align-items: center; }
    .store-card-info p {
      font-size: 20px;
      line-height: 30px; }
    .store-card-info img {
      width: 20px;
      margin-right: 10px; }
  .store-card-phone, .store-card-hours {
    margin-bottom: 8px; }

.store-location {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px; }
  @media (max-width: 768px) {
    .store-location {
      row-gap: 24px; } }
  .store-location h4 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-bottom: 1px solid #DCDCDC; }
  .store-location-container {
    border: 1px solid #DCDCDC; }
    @media (max-width: 768px) {
      .store-location-container {
        flex-basis: calc((100% - 24px) / 2); } }
    .store-location-container h3 {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 16px;
      border-bottom: 1px solid #DCDCDC; }
  .store-location-info {
    flex-basis: 35%; }
    @media (max-width: 768px) {
      .store-location-info {
        flex-basis: 100%;
        display: flex;
        -moz-column-gap: 24px;
             column-gap: 24px; } }
    @media (max-width: 576px) {
      .store-location-info {
        flex-direction: column; } }
  .store-location-map {
    flex: 1; }
    @media (max-width: 768px) {
      .store-location-map {
        flex-basis: 100%; } }
  @media (max-width: 768px) {
    .store-location-img {
      flex-basis: calc((100% - 24px) / 2); } }

/*# sourceMappingURL=all.css.map */
